@using StationeryManagerLib.RequestModel

@{
	@model SubCategoryRequest
	ViewData["Title"] = "Cập nhật danh mục sản phẩm";
}

<h1>@ViewData["Title"]</h1>
<a asp-action="Index" class="btn btn-secondary">Danh sách danh mục phân loại</a>
<div class="container">
	<form method="post" asp-action="Edit">
		<div class="form-group">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="Description"></label>
			<input asp-for="Description" class="form-control" />
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="CategoryId" class="control-label"></label>
			<select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-control">
				<option value="">-- Chọn danh mục cha --</option>
			</select>
			<span asp-validation-for="CategoryId" class="text-danger"></span>
		</div>

		@* nút submit *@
		<div class="form-group">
			<input type="submit" value="Cập nhật" class="btn btn-primary" />
		</div>
	</form>
</div>

