@using StationeryManagerLib.RequestModel

@{
	// @model ProductRequest
	ViewData["Title"] = "Thêm mới sản phẩm";
}

<div class="container">
	<div id="formContainer"></div>
</div>

@section Scripts {
    <script src="~/js/createProductForm.js"></script>
    <script>
        $(document).ready(function () {
            init();
        });
    </script>
}

